<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout width-full> 
   <vaadin-form-layout margin-top="false" margin-bottom="false"> 
    <vaadin-vertical-layout margin-left margin-right margin-top :middle :center> 
     <vaadin-horizontal-layout spacing width-full margin-left margin-right margin-top :middle :center> 
      <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Usuari" width-full _id="txtGrup" :middle :center :expand></vaadin-text-field> 
      <vaadin-password-field icon="fonticon://FontAwesome/f00c" caption="Contrasenya nova" width-full _id="txtPassword" :middle :center :expand></vaadin-password-field> 
     </vaadin-horizontal-layout> 
    </vaadin-vertical-layout> 
    <vaadin-horizontal-layout spacing width-full margin-left margin-right :middle :center> 
     <vaadin-button icon="fonticon://FontAwesome/f00c" style-name="icon-align-right primary" plain-text _id="aceptarButton" :middle :center>
       Aceptar 
     </vaadin-button> 
     <vaadin-button icon="fonticon://FontAwesome/f00d" style-name="danger icon-align-right" plain-text _id="cancelarButton" :middle :center>
       Cancelar 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-form-layout> 
  </vaadin-css-layout>  
 </body>
</html>