<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout width="50%" height="400px"> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" id="vertical" size-full="true" _id="vertical"> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" width-full="true"> 
     <vaadin-date-field caption="Inici 1er Trimestre" invalid-committed="true" width="80%" _id="startDateGrade"></vaadin-date-field> 
     <vaadin-date-field caption="Final 1er Trimestre" width="80%" _id="firstTrimesterEndDate"></vaadin-date-field> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout2" spacing="true" width-full="true"> 
     <vaadin-date-field caption="Inici 2n Trimestre" width="80%" _id="secondTrimesterStartDate"></vaadin-date-field> 
     <vaadin-date-field caption="Final 2n Trimestre" width="80%" _id="secondTrimesterEndDate"></vaadin-date-field> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout3" spacing="true" width-full="true"> 
     <vaadin-date-field caption="Inici 3er Trimestre" width="80%" _id="thirdTrimesterStartDate"></vaadin-date-field> 
     <vaadin-date-field caption="Final 3er Trimestre" width="80%" _id="endGradeDate"></vaadin-date-field> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" width-full="true" height="48px"> 
     <vaadin-check-box caption="Enviar e-mail als Tutors" id="checkEmailTutors" _id="checkEmailTutors" :middle=""></vaadin-check-box> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" width-full="true"> 
     <vaadin-check-box caption="Enviar e-mail als Pares" width="30%" _id="checkEmailPares" :middle=""></vaadin-check-box> 
    </vaadin-horizontal-layout> 
    <vaadin-check-box caption="Enviar Telegram als Pares" width="30%" _id="checkWhatsPares"></vaadin-check-box> 
   </vaadin-vertical-layout> 
  </vaadin-css-layout>  
 </body>
</html>