<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:true,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:88,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout size-full="true"> 
   <vaadin-vertical-layout size-full="true"> 
    <vaadin-vertical-layout spacing="true" width="50%" _id="mainStudent" :middle="" :center=""> 
     <vaadin-vertical-layout size-full="true" :middle="" :center="" :expand=""> 
      <vaadin-label plain-text="" _id="txtUpStudents" :middle="" :center="">
        Carrega de professors 
      </vaadin-label> 
      <vaadin-vertical-layout spacing="true" responsive="true" size-full="true" _id="vStudents" :middle="" :center="" :expand=""></vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout spacing="true" width="50%" _id="mainTeacer" :middle="" :center=""> 
     <vaadin-vertical-layout spacing="true" size-full="true" :middle="" :center=""> 
      <vaadin-label plain-text="" _id="txtUpTeachers" :middle="" :center="">
        Carrega de professors 
      </vaadin-label> 
      <vaadin-vertical-layout spacing="true" responsive="true" size-full="true" _id="vTeachers" :middle="" :center="" :expand=""></vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout primary-style-name="v-verticallayout" height="10%" margin="true" :middle="" :center="" :expand=""> 
     <vaadin-button icon="fonticon://FontAwesome/f129" responsive="true" plain-text="" _id="bHelp" :middle="" :center="">
       Ajuda 
     </vaadin-button> 
    </vaadin-vertical-layout> 
   </vaadin-vertical-layout> 
  </vaadin-css-layout>  
 </body>
</html>