<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gestioamonestacions&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout size-auto> 
   <vaadin-vertical-layout width="803px" height="460px" margin :middle :center> 
    <vaadin-vertical-layout width-auto height="367px" :middle :center> 
     <vaadin-horizontal-layout spacing height="62px"> 
      <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Nom" width="145px" _id="nom"></vaadin-text-field> 
      <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Cognoms" width="324px" _id="cognoms"></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout spacing> 
      <vaadin-text-field icon="fonticon://FontAwesome/f10b" caption="Telèfon Pare/Tutor legal"></vaadin-text-field> 
      <vaadin-text-field icon="fonticon://FontAwesome/f003" caption="Email Pare/Tutor legal" width="284px"></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout spacing> 
      <vaadin-text-field icon="fonticon://FontAwesome/f10b" caption="Telèfon Mare"></vaadin-text-field> 
      <vaadin-text-field icon="fonticon://FontAwesome/f003" caption="Email Mare" width="283px"></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout spacing> 
      <vaadin-native-select caption="Grup" item-caption-mode="id"> 
       <option>Option 1</option> 
       <option>Option 2</option> 
       <option>Option 3</option> 
      </vaadin-native-select> 
      <vaadin-date-field caption="Data de Naixement"></vaadin-date-field> 
      <vaadin-text-field caption="Curs" readonly></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout :middle :center> 
      <vaadin-button width="248px" plain-text :middle :center>
        INTRODUIR ALUMNE 
      </vaadin-button> 
     </vaadin-horizontal-layout> 
    </vaadin-vertical-layout> 
   </vaadin-vertical-layout> 
  </vaadin-form-layout>  
 </body>
</html>