<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout caption="Cancelar" responsive id="FormAmonestacio" margin> 
   <vaadin-text-field caption="Nom" required immediate width="90%" _id="nom" :middle :center></vaadin-text-field> 
   <vaadin-text-field caption="Cognoms" required immediate width="90%" _id="cognom" :middle :center></vaadin-text-field> 
   <vaadin-date-field caption="Naixement" required immediate width="90%" _id="fecha" :middle :center></vaadin-date-field> 
   <vaadin-text-field caption="Teléfons" required immediate width="90%" _id="teléfons" :middle :center></vaadin-text-field> 
   <vaadin-text-field caption="Correu de Contacte" required immediate width="90%" _id="emails" :middle :center></vaadin-text-field> 
   <vaadin-native-select caption="Grup" required item-caption-mode="id" immediate width="90%" _id="grup" :middle :center></vaadin-native-select> 
   <vaadin-horizontal-layout spacing responsive width-full margin :middle :center> 
    <vaadin-button icon="fonticon://FontAwesome/f00c" style-name="icon-align-right primary" width="118px" plain-text _id="aceptarButton" :middle>
      Aceptar 
    </vaadin-button> 
    <vaadin-button icon="fonticon://FontAwesome/f00d" style-name="danger icon-align-right" width="118px" plain-text _id="cancelarButton" :middle>
      Cancelar 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-form-layout>  
 </body>
</html>