// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin gatheme {
  @include valo;

  .bloq{

box-shadow: 10px 10px 5px red;
 }


.v-csslayout .v-icon{
color: #197de1;
}


.v-formlayout{
text-align:center;

}
.v-textfield{

text-align:center;

}
.v-verticallayout{

text-align:center;

}
.v-label{
text-align:center;
}
.v-window-contents{

text-align:center;

}
.upload-title{
font-size:20px;
}

.main-title{

font-size:35px;

}



.horizontal-title{
margin-bottom:15px;

}

#vertical{

border-radius:18px;
background-color: rgba(255, 255, 255, 0.3);
background: rgba(255, 255, 255, 0.8);

}

.dataInit{
position: relative;
    left: 30px;

}

.emailTutors{
position: relative;
    left: 30px;
}

.emailPares{

position: relative;
    left: 30px;

}
.whatsPares{

position: relative;
    left: 30px;
   }

.dataInit{
position: relative;
    left: 30px;
}

.dataFi{
position: relative;
    left: 30px;
}
.v-verticallayout-csvstudent{

border-radius:18px;
background-color: rgba(255, 255, 255, 0.3);
background: rgba(255, 255, 255, 0.8);
} 


 .ga.v-app, .ga.v-app-loading{
  
  
background: url(../../images/puig.png);
background-size: 100%;
  }

.contenido{

background-color:white;
}
gestioamonestacions .v-panel {

background:transparent;
border-radius:15px;
}

.gestioamonestacions .v-textfield{

border-radius:5px;
}

.gestioamonestacions .v-button{
	margin-top:10px;
	border-radius: 4px;
}

.gestioamonestacions .v-menubar{

text-align:center;
border-radius:0px;
border : 1px solid transparent;
}

gestioamonestacions .v-window-contents {

    box-shadow: 0px 0px 10px blue;
}


.v-horizontal > .v-expand > .v-slot  {
	/* transition: all 0.7s */
}

.v-grid-column-header-content{
color:#1362b1;
font-weight:bold;
text-align:center;
font-size:17px;
}
.loginview{
background-color: rgba(255, 255, 255, 0.3);
background: rgba(255, 255, 255, 0.8);
-moz-box-shadow: 1px 1px 21px #1156a8;
-webkit-box-shadow: 1px 1px 21px #1156a8;
box-shadow: 1px 1px 21px #1156a8;
height: 100%;
border-radius:4px;
}

.gestioamonestacions .v-grid-header .v-grid-cell{

//background-image: -webkit-linear-gradient(top, white 2%, #1362b1 98%);
}
/*
 .gestioamonestacions .valo-menu-title .v-menubar.v-menubar{

border-color:rgba(255, 255, 255, 0.8);
} 
.gestioamonestacions .v-menubar-user-menu > .v-menubar-menuitem img.v-icon{

border: 0px solid transparent;
width:32px;
height:32px;
}



*/
.v-caption{
 text-align:center; 
} 



.v-table{

border-radius:10px;

}

}
