<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout size-auto="true" margin-top="false" margin-bottom="false"> 
   <vaadin-vertical-layout size-auto="true" :middle="" :center=""> 
    <vaadin-horizontal-layout spacing="true" size-full="true" margin="true" :middle="" :center="" :expand=""> 
     <vaadin-text-field icon="fonticon://FontAwesome/f0c0" caption="Nom del Grup" size-full="true" _id="txtGrup" :middle="" :center="" :expand=""></vaadin-text-field> 
     <vaadin-text-field caption="Màxim Alumnes" width-full="true" _id="txtMaxAl" :middle="" :center="" :expand=""></vaadin-text-field> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" :middle="" :center=""> 
    <vaadin-button icon="fonticon://FontAwesome/f00c" style-name="icon-align-right primary" size-full="true" plain-text="" _id="aceptarButton" :middle="" :center="" :expand="">
      Aceptar 
    </vaadin-button> 
    <vaadin-button icon="fonticon://FontAwesome/f00d" style-name="danger icon-align-right" width="118px" plain-text="" _id="cancelarButton" :middle="" :center="">
      Cancelar 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-form-layout>  
 </body>
</html>