<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout width="542px" height="183px" margin-top="false" margin-bottom="false"> 
   <vaadin-vertical-layout width="542px" height="79px"> 
    <vaadin-horizontal-layout spacing="true" width="530px" margin="true"> 
     <vaadin-text-field icon="fonticon://FontAwesome/f0c0" caption="Nom del Grup" _id="txtGrup"></vaadin-text-field> 
     <vaadin-text-field caption="Màxim Alumnes" _id="txtMaxAl"></vaadin-text-field> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" width="296px" height="103px"> 
    <vaadin-button icon="fonticon://FontAwesome/f00c" style-name="icon-align-right primary" width="118px" plain-text="" _id="aceptarButton" :middle="">
      Aceptar 
    </vaadin-button> 
    <vaadin-button icon="fonticon://FontAwesome/f00d" style-name="danger icon-align-right" width="118px" plain-text="" _id="cancelarButton" :middle="">
      Cancelar 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-form-layout>  
 </body>
</html>