<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout> 
   <vaadin-vertical-layout :middle :center> 
    <vaadin-horizontal-layout spacing width-full margin-left margin-right margin-top :middle :center> 
     <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Nom" required immediate width-full _id="nom" :middle :center></vaadin-text-field> 
     <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Cognoms" required immediate width-full _id="cognoms" :middle :center></vaadin-text-field> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout spacing width-full margin-left margin-right :middle :center> 
     <vaadin-text-field icon="fonticon://FontAwesome/f003" caption="Email" required immediate width-full _id="email" :middle :center :expand></vaadin-text-field> 
     <vaadin-text-field caption="Usuari" width-full _id="txtUsername" :middle :center :expand></vaadin-text-field> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout spacing responsive width="50%" margin-left margin-right margin-top :middle :center> 
     <vaadin-vertical-layout :middle :center :expand> 
      <vaadin-check-box caption="Tutor" width-full _id="isTutor" :middle :center></vaadin-check-box> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout size-full :middle :center :expand> 
      <vaadin-native-select item-caption-mode="id" width-full _id="selectGroup" :middle :center> 
       <option>Option 1</option> 
       <option>Option 2</option> 
       <option>Option 3</option> 
      </vaadin-native-select> 
     </vaadin-vertical-layout> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout spacing responsive width-full margin-left margin-right margin-top :middle :center> 
     <vaadin-button icon="fonticon://FontAwesome/f00c" style-name="icon-align-right primary" width-full plain-text _id="aceptarButton" :middle :center :expand>
       Aceptar 
     </vaadin-button> 
     <vaadin-button icon="fonticon://FontAwesome/f00d" style-name="danger icon-align-right" width-full plain-text _id="cancelarButton" :middle :center :expand>
       Cancelar 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout width-full :middle :center :expand> 
     <vaadin-label size-auto plain-text :middle :center>
       *Si no omples el camp usuari es generarà un automàticament 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-form-layout>  
 </body>
</html>