<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gestioamonestacions&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout id="FLayout" width="1053px" height="596px" margin-top="false" margin-bottom="false"> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" id="VLayout" size-full="true" _id="vLayout" :middle="" :center=""> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" id="HLayout" width="659px" _id="hLayout" :right=""> 
     <vaadin-label id="Titol" size-auto="true" _id="titol" :middle="" :center="">
       LLISTAT D'ALUMNES 
     </vaadin-label> 
     <vaadin-button id="ButtonLoad" plain-text="" _id="buttonLoad" :middle="" :center="">
       Carregar 
     </vaadin-button> 
     <vaadin-button id="ButtonAdd" plain-text="" _id="buttonAdd" :middle="" :center="">
       Afegir 
     </vaadin-button> 
     <vaadin-button id="ButtonEdit" plain-text="" _id="buttonEdit" :middle="" :center="">
       Editar 
     </vaadin-button> 
     <vaadin-combo-box caption="Grup" id="ButtonGroup" item-caption-mode="id" _id="buttonGroup" :expand="10"> 
      <option>Option 1</option> 
      <option>Option 2</option> 
      <option>Option 3</option> 
     </vaadin-combo-box> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout"  width="100%" height="321px" _id="verticalStudents"></vaadin-vertical-layout> 
  </vaadin-form-layout>  
 </body>
</html>