<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout caption="Cancelar" id="FormAmonestacio" size-auto="true" margin="true"> 
   <vaadin-text-field caption="Nom" required="true" immediate="true" width-full="true" _id="nom" :middle="" :center=""></vaadin-text-field> 
   <vaadin-text-field caption="Cognoms" required="true" immediate="true" width-full="true" _id="cognom" :middle="" :center=""></vaadin-text-field> 
   <vaadin-date-field caption="Naixement" required="true" immediate="true" width-full="true" _id="fecha" :middle="" :center=""></vaadin-date-field> 
   <vaadin-text-field caption="Teléfons" required="true" immediate="true" width-full="true" _id="teléfons" :middle="" :center=""></vaadin-text-field> 
   <vaadin-text-field caption="Emails " required="true" immediate="true" width-full="true" _id="emails" :middle="" :center=""></vaadin-text-field> 
   <vaadin-text-field caption="Curs" required="true" immediate="true" width-full="true" _id="curs" :middle="" :center=""></vaadin-text-field> 
   <vaadin-native-select caption="Grup" required="true" item-caption-mode="id" immediate="true" width-full="true" _id="grup" :middle="" :center=""></vaadin-native-select> 
   <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" size-full="true" :middle="" :center=""> 
    <vaadin-button icon="fonticon://FontAwesome/f00c" style-name="icon-align-right primary" width="118px" plain-text="" _id="aceptarButton" :middle="">
      Aceptar 
    </vaadin-button> 
    <vaadin-button icon="fonticon://FontAwesome/f00d" style-name="danger icon-align-right" width="118px" plain-text="" _id="cancelarButton" :middle="">
      Cancelar 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-form-layout>  
 </body>
</html>