<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gatheme&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout size-full> 
   <vaadin-css-layout size-full> 
    <vaadin-horizontal-layout width-full _id="horizontalTitle"> 
     <vaadin-label size-auto plain-text _id="txtTitle" :middle :center>
       THE MAIN TITTLE 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout spacing width-full> 
     <vaadin-text-field _id="txtSearch" :middle :center></vaadin-text-field> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout spacing responsive width="95%" height="80%" _id="vHorizontalMain"></vaadin-horizontal-layout> 
   </vaadin-css-layout> 
  </vaadin-css-layout>  
 </body>
</html>