<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gestioamonestacions&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout size-full> 
   <vaadin-horizontal-layout width-full height="52px" _id="horizontalTitle"> 
    <vaadin-label size-auto plain-text _id="txtTitle" :middle :center>
      THE MAIN TITTLE 
    </vaadin-label> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout spacing width="185px" height="38px"> 
    <vaadin-text-field _id="txtSearch" :middle :center></vaadin-text-field> 
   </vaadin-horizontal-layout> 
   <vaadin-native-button width="37px" height="37px" plain-text _id="clearTxt"></vaadin-native-button> 
   <vaadin-horizontal-layout width="95%" height="75%" _id="vHorizontalMain"></vaadin-horizontal-layout> 
   <vaadin-horizontal-layout spacing height="72px"> 
    <vaadin-button plain-text _id="bAdd">
      Afegir 
    </vaadin-button> 
    <vaadin-button plain-text _id="buttonEdit">
      Editar 
    </vaadin-button> 
    <vaadin-button plain-text _id="bDelete">
      Borrar 
    </vaadin-button> 
    <vaadin-button plain-text _id="bRegister">
      Donar d'alta 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-css-layout>  
 </body>
</html>