<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;gestioamonestacions&quot;}">
 </head> 
 <body> 
  <vaadin-absolute-layout responsive="true" width="925px" height="560px"> 
   <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Nom" width="224px" _id="nom" :top="51px" :left="18px"></vaadin-text-field> 
   <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Cognoms" width="287px" _id="cognoms" :top="51px" :left="266px"></vaadin-text-field> 
   <vaadin-native-select icon="fonticon://FontAwesome/f124" caption="Circumstància" item-caption-mode="id" width="224px" _id="circunstancia" :top="133px" :left="18px"> 
    <option>Aula</option> 
    <option>Pati</option> 
    <option>Banys</option> 
    <option>Pasadissos</option> 
    <option>Sortida</option> 
   </vaadin-native-select> 
   <vaadin-option-group icon="fonticon://FontAwesome/f058" caption="Acció" item-caption-mode="id" width="224px" height="93px" _id="accio" :top="222px" :left="18px"> 
    <option>Amonestat</option> 
    <option>Expulsat</option> 
   </vaadin-option-group> 
   <vaadin-option-group icon="fonticon://FontAwesome/f127" caption="Motiu" item-caption-mode="id" width="297px" height="112px" _id="motiu" :top="222px" :left="242px"> 
    <option>Faltar al respecte al professor</option> 
    <option>Faltar al respecte a algún company</option> 
    <option>Acumulació d'amonestacions lleus</option> 
   </vaadin-option-group> 
   <vaadin-text-area icon="fonticon://FontAwesome/f086" caption="Altres motius" width="853px" height="145px" _id="amotius" :top="334px" :left="18px"></vaadin-text-area> 
   <vaadin-native-select icon="fonticon://FontAwesome/f06a" caption="Caràcter de la falta" item-caption-mode="id" width="162px" _id="caracter" :top="129px" :left="725px"> 
    <option>Lleu</option> 
    <option>Greu</option> 
   </vaadin-native-select> 
   <vaadin-text-field icon="fonticon://FontAwesome/f0f0" caption="Tutor" width="287px" _id="tutor" :top="133px" :left="266px"></vaadin-text-field> 
   <vaadin-option-group item-caption-mode="id" width="342px" height="112px" _id="motiu2" :top="222px" :left="553px"> 
    <option>Causar dany o desperfecte material</option> 
    <option>Negar-se a realitzar treballs encomanats</option> 
    <option>Molestar o distreure de forma reiterada als companys</option> 
   </vaadin-option-group> 
   <vaadin-button icon="fonticon://FontAwesome/f0a9" style-name="friendly" width="115px" plain-text="" _id="baceptar" :top="503px" :left="756px">
     Aceptar 
   </vaadin-button> 
   <vaadin-button icon="fonticon://FontAwesome/f057" style-name="danger" width="115px" plain-text="" _id="bcancelar" :top="503px" :left="611px">
     Cancelar 
   </vaadin-button> 
   <vaadin-text-field icon="fonticon://FontAwesome/f0c0" caption="Grup" width="110px" _id="grup" :top="133px" :left="582px"></vaadin-text-field> 
   <vaadin-text-field icon="fonticon://FontAwesome/f02d" caption="Matèria" width="306px" _id="materia" :top="51px" :left="581px"></vaadin-text-field> 
  </vaadin-absolute-layout>  
 </body>
</html>